body {
    font-family: 'Roboto', sans-serif;
}

.btn-danger {
  background-color: coral;
  border: none;
}

.nav-link {
  color: black;
}

.col-lg-5 h2 {
    font-size: 3.2em;
}

.col-lg-5 p {
    font-size: 1.2em;
}
